* {
    margin: 0;
    padding: 0;
    list-style: none;
}

body,
html,
.wrap {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.wrap {
    display: flex;
    flex-direction: column;
}

.wrap .header {
    height: 160px;
    width: 100%;
    position: relative;
}

.wrap .header .top {
    width: 100%;
    position: absolute;
    box-sizing: border-box;
    top: 8px;
    left: 5px;
    display: flex;
    z-index: 9999;
}

.wrap .header .top p {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
    line-height: 30px;
}

.wrap .header .top input {
    width: 75%;
    border-radius: 30px;
    border: 1px solid #ddd;
    padding-left: 10px;
    margin-left: 8px;
}

.wrap .header .banner {
    width: 100%;
    height: 100%;
}

.wrap .header .banner .picture {
    width: 100%;
    height: 100%;
}

.wrap .header .banner .picture img {
    width: 100%;
    height: 100%;
}

.wrap .main {
    flex: 1;
    overflow-x: hidden;
    overflow-y: scroll;
    background: #f5f5f5;
}

.wrap .footer {
    height: 50px;
    width: 100%;
    background: #fff;
}

.wrap .footer ul {
    display: flex;
}

.wrap .footer ul li {
    flex: 1;
    text-align: center;
    color: #969896;
}

.wrap .footer ul li i {
    display: block;
    padding-top: 5px;
    font-size: 18px;
}

.wrap .footer ul li b {
    font-weight: 100;
    font-size: 13px;
}

.wrap .footer ul .Act {
    color: red;
}

.main .nav {
	height: 180px;
	width: 100%;
	text-align: center;
	line-height: 180px;
	font-size: 25px;
}

.main .ban {
    height: 130px;
    width: 100%;
}

.main .ban img {
    height: 100%;
    width: 100%;
}

.main .yao {
<<<<<<< HEAD
	height: 150px;
	background: lightblue;
	text-align: center;
	line-height: 150px;
	font-size: 25px;
}
.nav ul {
	display: flex;
}
.nav ul li {
	flex: 1;
	text-align: center;
}

.yao .left,
.null {
    flex: 2;
}

.yao .left {
    font-size: 12px;
    box-sizing: border-box;
    padding-top: 40px;
    padding-bottom: 40px;
    line-height: 20px;
}

.yao .left h2 {
    font-size: 20px;
}

.yao .right {
    flex: 6;
    background: #fff;
    display: flex;
}

.yao .right dd {
    flex: 6;
    box-sizing: border-box;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 5px;
}

.yao .right dd h6 {
    font-size: 18px;
    line-height: 1.5;
}

.yao .right dd p {
    font-size: 14px;
    color: #999;
    line-height: 1.5;
}

.yao .right dt {
    flex: 4;
    box-sizing: border-box;
    padding-top: 40px;
    padding-bottom: 40px;
}

.yao .right dt i {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #0ff;
    margin-left: 50%;
    position: relative;
    left: -20px;
}
